[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.6"

[scripts]
serve = "flask run"
