[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
flask = "*"
python-dotenv = "*"
elasticsearch = "<7.0.0,>=6.0.0"

[requires]
python_version = "3.6"

[scripts]
serve = "flask run"
